DB_USER=
DB_NAME=
DB_PASSWORD=

# openssl rand -base64 32
AUTH_SECRET=

# DATABASE_URL=
DATABASE_URL=

#https://console.cloudinary.com/settings/c-17ff7c3a0cf983b5654ab5f5c5e58c/api-keys
CLOUDINARY_URL=

GMAIL_USER=
GMAIL_PASS=